<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.FAuditMapper">
    <update id="updateFAuditById">
        update f_audit set a_name = #{fAuditUpdateVo.aName},a_reserve = #{fAuditUpdateVo.aReserve},
        a_serve = #{fAuditUpdateVo.aServe},a_label = #{fAuditUpdateVo.aLabel},
        a_business = #{fAuditUpdateVo.aBusiness},a_province = #{fAuditUpdateVo.aProvince},
        a_city = #{fAuditUpdateVo.aCity},a_district = #{fAuditUpdateVo.aDistrict},
        a_trading =#{fAuditUpdateVo.aTrading},a_address = #{fAuditUpdateVo.aAddress}
        where s_id = #{fAuditUpdateVo.sId};
    </update>
</mapper>