<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.ShopTakeoutCommodityMapper">
    <resultMap id="FTakeoutCommodityMapper" type="com.demo.entity.ShopTakeoutCommodity">
        <id property="cId" column="c_id"/>
        <result property="cName" column="c_name"/>
        <result property="cType" column="c_type"/>
        <result property="cImg" column="c_img"/>
        <result property="cPrice" column="c_price"/>
    </resultMap>

    <!--显示所有的外卖商品信息-->
    <select id="selectFTakeoutCommodityList" resultMap="FTakeoutCommodityMapper">
        select c_id, c_name, c_type, c_img, c_price
        from f_takeout_commodity
        where delete_status = 1;
    </select>

    <!--新增外卖商品-->
    <insert id="insertFTakeoutCommodity">
        insert into f_takeout_commodity(c_name, c_type, c_img, c_price)
        values (#{shopTakeoutCommodityVo.cName}, #{shopTakeoutCommodityVo.cType},
        #{shopTakeoutCommodityVo.cImg}, #{shopTakeoutCommodityVo.cPrice});
    </insert>

    <!--修改外卖商品信息-->
    <update id="updateFTakeoutCommodity">
        update f_takeout_commodity
        set c_name = #{shopTakeoutCommodity.cName},
        c_type = #{shopTakeoutCommodity.cType},
        c_img = #{shopTakeoutCommodity.cImg},
        c_price = #{shopTakeoutCommodity.cPrice}
        where c_id = #{shopTakeoutCommodity.cId}
        and delete_status = 1;
    </update>

    <!--删除外卖商品-->
    <update id="deleteFTakeoutCommodityById">
        update f_takeout_commodity
        set delete_status = 0
        where c_id = #{id}
          and delete_status = 1;
    </update>
</mapper>