<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.ShopShopMapper">
    <resultMap id="FShopMapper" type="com.demo.entity.ShopShop">
        <id property="sId" column="s_id"/>
        <result property="sName" column="s_name"/>
        <result property="sBackImg" column="s_back_img"/>
        <result property="sBusiness" column="s_business"/>
        <result property="sCity" column="s_city"/>
    </resultMap>

    <!--显示所有的门店信息-->
    <select id="selectFShopList" resultMap="FShopMapper">
        select s_id, s_back_img, s_name, s_city, s_business
        from f_shop
        where s_status = #{status}
          and delete_status = 1;
    </select>

    <!--新增门店-->
    <insert id="insertFShop">
        insert into f_shop(s_name, s_reserve, s_serve, s_label, s_logo,
                           s_back_img, s_product_img, s_environment_img, s_else_img, s_business,
                           s_province, s_city, s_district, s_trading, s_address, s_path, s_linkman,
                           s_phone, s_business_hours, s_brief)
        values (#{shop.sName}, #{shop.sReserve}, #{shop.sServe},
                #{shop.sLabel}, #{shop.sLogo}, #{shop.sBackImg}, #{shop.sProductImg},
                #{shop.sEnvironmentImg}, #{shop.sElseImg}, #{shop.sBusiness},
                #{shop.sProvince}, #{shop.sCity}, #{shop.sDistrict}, #{shop.sTrading},
                #{shop.sAddress}, #{shop.sPath}, #{shop.sLinkman}, #{shop.sPhone},
                #{shop.sBusinessHours}, #{shop.sBrief});
    </insert>

    <!--门店资料更新-->
    <update id="updateFShopBysId">
        update f_shop
        set s_logo            = #{shop.sLogo},
            s_back_img        = #{shop.sBackImg},
            s_product_img     = #{shop.sProductImg},
            s_environment_img = #{shop.sEnvironmentImg},
            s_else_img        = #{shop.sElseImg},
            s_address         = #{shop.sAddress},
            s_path            = #{shop.sPath},
            s_linkman         = #{shop.sLinkman},
            s_phone           = #{shop.sPhone},
            s_business_hours  = #{shop.sBusinessHours},
            s_brief           = #{shop.sBrief}
        where s_id = #{shop.sId}
          and delete_status = 1;
    </update>

    <!--门店下架，提交到审核表进行审核，审核通过才允许下架-->
    <update id="updatesStatusOut">
        insert into f_audit(s_id, a_name, a_reserve, a_serve, a_label, a_business, a_province, a_city, a_district,
                            a_trading, a_address, a_submission_time, a_type)
        select s_id,
               s_name     a_name,
               s_reserve  a_reserve,
               s_serve    a_serve,
               s_label    a_label,
               s_business a_business,
               s_province a_province,
               s_city     a_city,
               s_district a_district,
               s_trading  a_trading,
               s_address  a_address,
               now(),
               5
        from f_shop
        where s_id = #{id}
          and delete_status = 1
          and s_status = 1;
        <!--update f_shop set s_status = 0
        where s_status = 1
        and delete_status = 1
        and s_id = #{sId};-->
    </update>

    <!--门店上架，提交到审核表进行审核，审核通过才允许上架-->
    <update id="updatesStatusUp">
        insert into f_audit(s_id, a_name, a_reserve, a_serve, a_label, a_business, a_province, a_city, a_district,
                            a_trading, a_address, a_submission_time, a_type)
        select s_id,
               s_name     a_name,
               s_reserve  a_reserve,
               s_serve    a_serve,
               s_label    a_label,
               s_business a_business,
               s_province a_province,
               s_city     a_city,
               s_district a_district,
               s_trading  a_trading,
               s_address  a_address,
               now(),
               4
        from f_shop
        where s_id = #{id}
          and delete_status = 1
          and s_status = 0;
        <!--update f_shop set s_status = 1
        where s_status = 0
        and delete_status = 1
        and s_id = #{sId};-->
    </update>

    <!--门店删除，提交到审核表进行审核，审核通过才允许删除-->
    <update id="updateDeleteStatus">
        insert into f_audit(s_id, a_name, a_reserve, a_serve, a_label, a_business, a_province, a_city, a_district,
                            a_trading, a_address, a_submission_time, a_type)
        select s_id,
               s_name     a_name,
               s_reserve  a_reserve,
               s_serve    a_serve,
               s_label    a_label,
               s_business a_business,
               s_province a_province,
               s_city     a_city,
               s_district a_district,
               s_trading  a_trading,
               s_address  a_address,
               now(),
               6
        from f_shop
        where s_id = #{id}
          and delete_status = 1;
        <!--update f_shop set delete_status = 0 where delete_status = 1 and s_id = #{sId};-->
    </update>
</mapper>